.customs-page {
    display: grid;
    grid-template-areas: 
        "customsHeader",
        "customsContent"
        "customsFooter";
}


.customs-header {
    border-radius: 5px;
    background-color: hsl(50, 50, 50);
}

