.customs-page {
    display: grid;
    height: 100%;
    grid-template-rows: 75px 1fr 25px;
    grid-template-areas:
        "customsHeader"
        "customsContent"
        "customsFooter";
}

#customs-header {
    grid-area: customsHeader;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    padding: 10px;
}

#customs-content {
    grid-area: customsContent;
    display: flex;
    flex-direction: column;
}

#customs-footer {
    grid-area: customsFooter;
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
    color: hsl(0, 0, 75);
    font-weight: bold;
}


.customs-content-table {
    border: 1px silver solid;
    border-radius: 10px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    padding: 10px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.35);
    flex-grow: 2;
    margin-block-end: 10px;
}

.customs-header-text {
    font-variant: small-caps;
    text-shadow: 2px 2px #dedede;
}

.customs-awb-card {
    display: grid;
    grid-template-columns: 150px 100px 100px 1fr 1fr;
    row-gap: 3px;
    column-gap: 3px;
    grid-template-areas: 
    "awb route flight datetime buttons buttons"
    "stage description shipper shipper reason";

    margin-block-start: 5px;
    margin-block-end: 10px;
    padding-block-end: 10px;
    border-bottom: 1px silver solid;
}

.customs-awb-card-awb {
    grid-area: awb;
}

.customs-awb-card-route {
    grid-area: route;
}

.customs-awb-card-flight {
    grid-area: flight;
}

.customs-awb-card-datetime {
    grid-area: datetime;
}

.customs-awb-card-buttons {
    grid-area: buttons;
}

.customs-awb-card-stage {
    grid-area: stage;
    font-size: 0.8rem;
}

.customs-awb-card-reason {
    grid-area: reason;
}

.customs-awb-card-description {
    grid-area: description;
    font-size: 0.8rem;
}

.customs-awb-card-shipper {
    grid-area: shipper;
    font-size: 0.8rem;
}

.customs-awb-card-reason input {
    width: 80%;
    display: none;
}

.customs-awb-card-reason button {
    display: none;;
}