.customs-page {
    display: grid;
    grid-template-rows: 75px 1fr 25px;
    grid-template-areas: 
        "customsHeader",
        "customsContent"
        "customsFooter";
}

#customs-header {
    grid-area: "customsHeader";
}

#customs-content {
    grid-area: "customsContent";
}

#customs-footer {
    grid-area: "customsFooter";
}

